
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/fonts/opensans/css/fonts.css">
<link rel="stylesheet" href="~/Content/css/foundation.css">

<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

<div ng-controller="myCntrl" class="row rowb" data-ng-init="EnableHomeBackButton()">
    <label>
        @Global.Consumer.CustomerSupport (@Global.Consumer.India):
    </label>
    <label> +91 805 500800</label>
</div>

