
@{
    ViewBag.Title = "UploadConsumerFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/fonts/opensans/css/fonts.css">
<link rel="stylesheet" href="~/Content/css/foundation.css">
<link rel="stylesheet" href="~/Content/css/app.css">
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

<div class="row rowb" ng-controller="myCntrl">
    <div class="row">
        <h3>@Global.InstaDelight.SendToConsumerList</h3>
        <div class="medium-6 columns">
            @using (Html.BeginForm("UploadConsumerFile", "Bank", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" ng-model="BankId" id="hdnBankId" name="hdnBankId" value="@ViewBag.BankId" />
                <label class="text">
                    @Global.InstaDelight.SelectCSVFile
                    <input type="file" name="file" />
                </label>
                <input type="submit" value=@Global.InstaDelight.Send />
            }
        </div>
        <div>
            <label>
                <b> @ViewBag.result</b>
            </label>
        </div>
    </div>
</div>

