
@{
    ViewBag.Title = "PaymentResponseForNativeApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rowb">
    <label>
        @ViewBag.Result
    </label>
    <label>
        @ViewBag.Status
    </label>
</div>

