@{
    ViewBag.Title = "Redeem";
}

<link rel="stylesheet" href="~/Content/fonts/opensans/css/fonts.css">
<link rel="stylesheet" href="~/Content/css/foundation.css">

<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
<div class="row rowb">
    <h2>Redeem</h2>
</div>

