
@{
    ViewBag.Title = "SendCouponToFriends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/fonts/opensans/css/fonts.css">
<link rel="stylesheet" href="~/Content/css/foundation.css">

<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
<div class="row rowb">
    <h4>@ViewBag.result</h4>
</div>

