
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/fonts/opensans/css/fonts.css">
<link rel="stylesheet" href="~/Content/css/foundation.css">

<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

<div class="row rowb" ng-controller="myCntrl" ng-app="myApp">
    <div class="row">
        <h1>@ViewBag.Result</h1>
    </div>
</div>


