<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesReportUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
 
    <connectionStrings>
        <add name="SalesReportUtility.Properties.Settings.instadelight_testConnectionString"
            connectionString="server=localhost;user id=root;password=CNXJ9y#ij4c$;database=instadelight_test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <SalesReportUtility.Properties.Settings>
            <setting name="SalesReportUtility_SalesReportWebService_SalesReportWebService"
                serializeAs="String">
                <value>https://www.offertraker.com:1111/SalesReportWebService.asmx</value>
            </setting>
        </SalesReportUtility.Properties.Settings>
    </applicationSettings>
</configuration>