@{
    ViewBag.Title = @Global.InstaDelight.ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Global.InstaDelight.ForgotPasswordMessage
    </p>
</div>
	
