
@{
    ViewBag.Title = @Global.InstaDelight.ForgotPasswordConfirmation;
    
}

<link rel="stylesheet" href="~/Content/fonts/opensans/css/fonts.css">
<link rel="stylesheet" href="~/Content/css/foundation.css">

<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

<div class="header red text-center">
    @Global.InstaDelight.ForgotPassword
</div>
<div class="row rowb">
    <div class="row text-center">
        <img src="~/Images/logo.png" />
    </div>

    <h1>@ViewBag.Title</h1>


    <label>
        @Global.InstaDelight.ForgotPasswordMessage1
    </label>
    
</div>

<div class="footer red text-center" style="color:white;" ng-controller="myCntrl">
    <div class="small-12 columns">
        <div class="small-6 columns">
            <a href=@Url.Action("Index", "Home") style="color:white">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="small-6 columns">
            <a ng-click="NavigateBack()" style="color:white"><i class="fa fa-caret-left fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>


